:root {
  --color-purple: #a23aff;
  --color-main: #6266ff;
  --color-text-grey-1: #4e4c5a;
  --color-grey-dark-1: #333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(to right bottom,
      rgba(30, 31, 30, 0.3),
      rgba(5, 5, 5, 0.3)), url(../assets/smiley.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  color: #050505;
  /* color: #fff; */
  font-weight: 900;
  font-size: 2.3rem;
  padding: 0.5rem;
}

.aura {
  height: 6px;
  width: 6px;
  background-color: rgba(184, 175, 175, 0.884);
  position: absolute;
  top: 0.7rem;
  left: 0;
  border-radius: 50%;
}

.navbar{
  background-color: rgba(177, 173, 173, 0.769);
  height: 60px;
}

.navbar-nav .nav-item a.nav-link {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(24, 23, 23, 0.885);
  /* color: var(--color-grey-dark-1); */
  text-transform: uppercase;
  padding: 0.5rem 0.9rem;

}

.navbar-nav .nav-item a.nav-link:hover {
  color: var(--color-purple)
}

.nav-link {
  margin: 0.3rem;
}

.navbar-nav .nav-item:last-child a {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  border-radius: 100px;
  display: inline-block
}

.navbar-nav .nav-item:last-child a:hover {
  background: linear-gradient(to right bottom, #6266ff, #a23aff);
}

.header-text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-40%)
}

.header-text__major {
  text-transform: capitalize;
  font-size: 3rem;
  /* color: #B22222; */
  color: #fff;
  display: inline-block;
  margin-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: 'Quattrocento',
    serif;
  border-left: 0.3rem solid var(--color-main);
}

.header-text__sub {
  /* color: #6266ff; */
  color: #fff;
  padding-left: 2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.header-text__link {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  border-radius: 100px;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  font-weight: 500;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

.header-text__link > a{
	-webkit-animation: slide-bck-top 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-top 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes slide-bck-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(-400px) translateY(-200px);
            transform: translateZ(-400px) translateY(-200px);
  }
}
@keyframes slide-bck-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(-400px) translateY(-200px);
            transform: translateZ(-400px) translateY(-200px);
  }
}

a.header-text__link {
  text-decoration: none;
}

a.header-text__link:hover {
  background: linear-gradient(to right bottom, #6266ff, #a23aff);
}

section {
  padding: 8rem 0;
}

/* About-us Section */
.about-us {
  background-color: #eaedf2;
}

.about-us__title {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.about-us__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.about-us__break {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.about-us__card {
  padding-right: 3rem;
}

.about-us__icons {
  margin: 1rem 0;
}

.about-us__title {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #0b0d19;
  font-weight: 700;
}

.about-us__article {
  color: #575758;
  font-size: 1rem;
  word-spacing: 2px;
}

/* Meet the team section */
.team-title {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.team-title__sub {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  /* margin-left: 1.5rem; */
  margin-bottom: 3rem;
  padding-right: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 0.3rem solid var(--color-main);
}

.team-title,
.team-title__sub {
  padding-left: 1.5rem;
}

.team-profile__name {
  font-size: 1.3rem;
  font-weight: 700;
  color: #0b0d19;
  margin: 1rem 0 0 1.5rem;
}

.team-profile__position {
  color: #aaadc1;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 2rem 1.5rem;
  font-weight: 700;
}

/* Clients Profile */
.client-profile {
  background-color: #eaedf2;
  position: relative;
}

.boat {
  position: absolute;
  right: 0;
  /* display: none; */
}

.client-profile__title {
  text-transform: uppercase;
  color: #505158;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  letter-spacing: 2px;
}

.client-profile__heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 0.3rem solid var(--color-main);
}

.client-profile__title,
.client-profile__heading {
  padding-left: 1.5rem;
}

.sub {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.client-profile__subtitle {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #0b0d19;
  font-weight: 700;
}

.client-profile__article {
  color: #626266;
  font-size: 0.9rem;
  font-weight: 500;
  word-spacing: 1.5px;
  width: 15vw;
}

.client-profile__link {
  text-transform: uppercase;
  
  color: #626266;
  font-size: 0.75rem;
  font-weight: 500;
}

.client-profile__link:hover {
  color: var(--color-purple);
  font-weight: 900;
  text-decoration: none;
}

/* Contact Us */

.contact-us {
  background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0.3)), url(../assets/contact.jpg);
  background-position: center;
  background-size: cover;
}

.contact-us__title {
  text-transform: uppercase;
  color: #232324;
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.contact-us__heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: rgb(27, 26, 26);
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.contact-us__break {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.contact-us__card {
  padding-right: 5rem;
}

.contact-us__card img {
  margin-bottom: 1rem;
}

.contact-us__sub-heading {
  /* text-transform: capitalize; */
  font-size: 1rem;
  color: rgb(27, 26, 26);
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-us__article {
  color: #5d5d5e;
  font-size: 0.9rem;
  font-weight: 450;
  word-spacing: 2px;
  margin-bottom: 4rem;
}

.form-group>input,
.form-group>textarea {
  background-color: #eaedf2;
  border: none;
  color: #aaadc1 !important;
}

.send-btn {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #050cce);
  border-radius: 100px;
}

a.send-btn:hover {
  background: linear-gradient(to right bottom, #6266ff, #a23aff);
}

label,
.contact-us__locaton-title {
  color: #0b0d19;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact-us__locaton-body {
  color: #aaadc1;
  font-size: 0.8rem;
  word-spacing: 2px;
}

.contact-us__locaton-social {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.fab {
  margin-right: 1rem;
  background-color: #aaadc1;
  padding: 0.6rem;
  border-radius: 50%;
  color: #fff;
}

.contact-us__mailing>input:focus,
.form-group>input:focus,
.form-group>textarea:focus {
  background-color: #eaedf2;
  box-shadow: none;
}

.join-btn {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  font-size: 1rem;
/* padding: 0.5rem 0.5rem 0.6rem; */
}

a.join-btn:hover {
  background: linear-gradient(to right bottom, #6266ff, #a23aff);
}

a.join-btn {
  text-decoration: none;
}

.contact-us__mailing>input {
  background: none;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 60%;
  background-color: #eaedf2;
  color: white !important;
}

.contact-us__mailing>input:focus {
  outline: none;
}

/* Footer */
footer {
  padding: 6rem 0 1rem;
  background-color: #eaedf2;
  color: #aaadc1;
  font-size: 1rem;
}

footer p {
  margin-bottom: 4rem;
}

footer h4 {
  color: #0b0d1994;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}





@media only screen and (max-width: 1028px){
  .navbar {
    height:80px;
  }

  .header-text{
    padding-left: 65px;
  }

  section {
    padding: 40px 5px;
  }

  .boat{
    display:none;
  }

  .navbar-nav {
    /* background-color: rgba(117, 111, 111, 0.7); */
    background-color:var(--color-grey-dark-1);
    height: 55vh;
    text-align: center;
  }

  .contact-us__card {
    margin-bottom: 30px;
  }
}

